.forget-password1,
.verification {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.verification {
  width: 436px;
  flex-direction: column;
  padding: 200px 0 0;
  box-sizing: border-box;
  min-width: 436px;
  max-width: 100%;
}
.forget-password1 {
  width: 100%;
  position: relative;
  background-color: var(--color-lavender);
  overflow: hidden;
  flex-direction: row;
  gap: 118px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .verification {
    flex: 1;
  }
  .forget-password1 {
    flex-wrap: wrap;
    gap: var(--gap-40xl);
  }
}
@media screen and (max-width: 750px) {
  .verification {
    padding-top: 130px;
    box-sizing: border-box;
    min-width: 100%;
  }
  .forget-password1 {
    gap: var(--gap-10xl);
  }
}
