.forget-password2 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  background: linear-gradient(180deg, #211d7e, #040112);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.email1 {
  position: relative;
  display: inline-block;
  min-width: 49px;
}
.field,
.input {
  justify-content: flex-start;
}
.field {
  align-self: stretch;
  border-bottom: 1px solid var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-4xs) var(--padding-5xs);
}
.input {
  align-items: flex-start;
  font-size: var(--h5-text-size);
}
.details,
.email-input,
.input {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.email-input {
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-2xs);
}
.details {
  align-items: flex-end;
  justify-content: center;
}
.reset-password {
  position: relative;
  font-size: var(--h5-text-size);
  font-family: var(--h5-text);
  color: var(--color-white);
  text-align: left;
}
.button-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-xl);
  background-color: var(--blue-fill);
  align-self: stretch;
  border-radius: var(--br-3xs);
  background: linear-gradient(180deg, #211d7e, #040112);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.epback-icon {
  height: 30px;
  width: 30px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.back-to-login {
  position: relative;
  display: inline-block;
  min-width: 117px;
}
.navigation1,
.password-reset {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation1 {
  flex-direction: row;
  gap: var(--gap-sm);
  cursor: pointer;
  text-align: center;
  font-size: var(--h5-text-size);
}
.password-reset {
  align-self: stretch;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-38xl) var(--padding-35xl);
  gap: var(--gap-9xl);
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--h5-text);
}
@media screen and (max-width: 450px) {
  .forget-password2 {
    font-size: var(--font-size-lgi);
  }
  .input {
    gap: var(--gap-xl);
  }
  .password-reset {
    padding: var(--padding-18xl) var(--padding-xl);
    box-sizing: border-box;
  }
}
